
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active{
    transform: scale(1);
}

.modal__content{
    margin-bottom: 200px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f0c38e;
    height: 330px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal__input,
.modal__textarea {
    width: 100%;
    padding: 10px;
    color: #f0c38e;
    margin: 7px 0px;
    border: none;
    background-color: #48426d;;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
}

.modal__textarea {
    height: 90px;
    border-radius: 25px;
}


.modal__input::placeholder,
.modal__textarea::placeholder {
    color: #f0c38e;
    padding-left: 20px;
}


.modal__input:focus,
.modal__textarea:focus {
    background-color: #312051;
    border-color: #312051;
    outline: none;
}

.modal__button {
    color: #48426d;
    background-color: #f0c38e;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
    margin-left: 35%;
}

.modal__button:hover {
    background-color: #312051;
    color: #f0c38e;
    
}

.all__names{
    padding-top: -50px;
    color: #48426d;
}